/* Глобальные стили, стили для ссылок и выделения */
:root{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
    background-color: rgb(9, 43, 5);
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gold;
    text-decoration: none;
}
::selection {
    background: gold;
    color: black;
}


/* Стили для хедера */
.header-background-color{
    width: 750px;
    height: 236px;
    background-color: #2D7053;
}
.header-logo{
    width: 142px;
    height: 142px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: -185px;
    margin-left: 36px;
    z-index: 2;
}
.header-KPIF{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    color: white;
    z-index: 3;
    margin-top: -135px;
    margin-left: 237px;
}
.burger{
    margin-left: 621px;
    margin-top: -120px;
}
.burger > div {
    border-bottom: 12px solid rgb(255, 255, 255);
    width: 87px;
    border-radius: 7px;
    margin-top: 1rem;
}


/* Стили для баннера */
.office-image{
    margin-top: 73px;
    z-index: 4;
}
.button-top{
    width: 342px;
    height: 75px;
    z-index: 5;
    background-color: #CB9223;
    margin-left: 200px;
    margin-top: -125px;
    position: absolute;
}
.znp-top{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    z-index: 8;
    margin-top: -105px;
    margin-left: 230px;
}


/* Стили для средней чати сайта */
.background-color-white{
    width: 750px;
    height: 1024px;
    background-color: white;
    margin-top: -5px;
}
.ppp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    text-align: left;
    top: 1368px;
    position: absolute;
    left: 44px;
}
.psychologist{
    position: absolute;
    /*margin-left: 44px;
    margin-top: -974px;*/
    left: 44px;
    top: 774px;
}
.button-bottom{
    width: 342px;
    height: 75px;
    z-index: 10;
    background-color: #CB9223;
    position: absolute;
    top: 1600px;
    left: 216px;
}
.ns{
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: black;
    position: absolute;
    left: 366px;
    top: 835px;
    letter-spacing: -1px;
}
.pts{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    position: absolute;
    left: 366px;
    top: 891px;
}
.ps-talks{
    position: absolute;
    font-size: 24px;
    text-align: left;
    color: black;
    margin-left: 44px;
    top: 1081px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -1;
    font-weight: 400;
}
._ppp{
    margin-left: 44px;
    color: black;
    font-size: 36px;
    text-align: left;
    position: absolute;
    top: 1293px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.znp-bottom{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    z-index: 11;
    top: 1620px;
    left: 247.5px;
}

/* Стили для футера */
.footer-background-color{
    height: 154px;
    width: 750px;
    background-color: #888888;
    margin-top: -18px;
}
.footer-logo{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 97px;
    height: 97px;
    margin-top: -122.5px;
    margin-left: 44px;
}
.telephone{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin-top: -80px;
    margin-left: 570px;
}
.gmail{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 562px;
    margin-top: -22.5px;
    color: white;
}
.street{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;
    margin-left: 300px;
}
